  body {
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;

    }
    .weather-box {
      position: fixed;
      background: rgba(101, 96, 96, 0.299);
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
      text-align: center;
      width: 600px;
    
    }
    input {
      padding: 10px;
      width: 40%;
      border: 1px solid #ccc;
      border-radius: 10px;
    }
    button {
      margin-top: 20px;
      padding: 10px 15px;
      border: none;
      background: rgb(103, 58, 58);
      color: white;
      border-radius: 10px;
      cursor: pointer;
    }
    button:hover {
      background: rgb(51, 51, 89);
    }
    .result {
      margin-top: 15px;
      font-size: 18px;
    }
    .weather-icon {
      width: 80px;
    }

.forecast-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
}

.forecast-day {
  background: rgba(148, 132, 132, 0.216);
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  transition: transform 0.3s;
}

.forecast-day:hover {
  transform: scale(1.05);
}
.forecast-day img {
  width: 50px;
  margin: 5px 0;
}
.forecast-day p {
  margin: 5px 0;
}
hr {
      margin: 15px 0;
      border: none;
      border-top: 1px solid #ccc;
    }



