  body {
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;

    }
    .weather-box {
      position: fixed;
      background: rgba(255, 255, 255, 0.245);
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
      text-align: center;
      width: 420px;
    }
    input {
      padding: 10px;
      width: 80%;
      border: 1px solid #ccc;
      border-radius: 10px;
    }
    button {
      margin-top: 10px;
      padding: 10px 15px;
      border: none;
      background: rgb(103, 58, 58);
      color: white;
      border-radius: 10px;
      cursor: pointer;
    }
    button:hover {
      background: rgb(51, 51, 89);
    }
    .result {
      margin-top: 15px;
      font-size: 18px;
    }
    .weather-icon {
      width: 80px;
      margin-top: 10px;
    }